@import url('https://fonts.googleapis.com/css2?family=Inter&family=Limelight&family=Martian+Mono:wght@400;600;700&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans&family=Poppins&display=swap');
body,
#root,
.app,
.content{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

}